.container {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    /* background: rgba(0,0,0,0.5); */
    color: beige;
    z-index: 3;
}

nav {
    display: flex;
    z-index: 4;
    justify-content: space-between;
    padding: 35px 45px;
    width: 100%;
}


nav .logo-container h1 {
    text-transform: uppercase;
    font-size: 15px;
}

nav .menu-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    z-index: 4;
    margin-left: 90vw;
}


nav .menu-container div {
    text-transform: uppercase;
    font-size: 2rem;
    text-shadow: 0px 0.1rem var(--mainColor);
}

nav .menu-container div:hover {
    cursor: pointer;
}
@media screen and (max-width: 1000px) {
    nav .menu-container{
        margin-left: 70vw;
    }
    nav .menu-container div {
        font-size: 1.5rem;
    }
}
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(8px);
    background-color: rgba(0,0,0,0.2);
    z-index: 4;
}

.mobile-menu button {
    align-self: flex-end;
    margin: 35px 45px 0 0;
    outline: none;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 2rem;
    color: white;
    text-shadow: 0px 0.1rem var(--mainColor);
}

.mobile-menu button:hover {
    cursor: pointer;
}

.mobile-menu ul {
    list-style: none;
    margin-top: 40px;
    z-index: 4;
}

.mobile-menu ul li {
    margin: 20px 0;
    overflow-y: hidden;
    user-select: none;
}

.mobile-menu ul li div {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;

    text-decoration: none;
    color: #fff;
    text-shadow: 0px 0.1rem var(--mainColor);
    list-style: none;
    letter-spacing: 0.1rem;
    font-weight: 500;
    white-space: nowrap;
    margin: 0 0;
}

.mobile-menu ul li:hover {
    font-style: italic;
    cursor: pointer;
}

.mobile-menu .contact {
    margin-top: 80px;
    display: flex;
}

.mobile-menu .contact h5 {
    font-weight: normal;
}

.mobile-menu .contact h5:first-of-type {
    margin-right: 40px;
}

.img-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}

.img-container img {
    height: 700px;
    pointer-events: none;
}



/* .nav-group {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    height: 80px;
    right: -50vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 30px;
    transition: 0.3s linear;
    z-index: 55;

}

.nav-menu {
    list-style: none;
    align-items: center;

    display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: rgba(0,0,0,0.5);
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        right:-300%;
        opacity: 0;
        align-items: stretch;
        padding: 0 0 0 0;
        margin: 0;
        transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
        border-radius: 0 0 0 13px;
}
.nav-menu.active{
    right:0;
    opacity: 1;
    z-index: -1;
    transition: 0.3s ease-in-out;
    display: flex;
}
.nav-links {
    text-decoration: none;
    color: var(--white);
    line-height: 2.75rem;
    text-transform: uppercase;
    list-style: none;
    letter-spacing: 0.1rem;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
    display: block;
    width: 100%;
    font-size: 1rem;
    padding: 0.6rem 0;
    
}

.nav-links:hover{
    background-color: rgba(255,255,255,0.8);
    color: black;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.menu-icons {
    margin: 0;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    cursor: pointer;
}

.menu-icons h3 {
    padding: 0 9rem 0 0;
}

.menu-icons i{
    margin-left: auto   ;
    font-size: 1.2rem;
}
.fa-bars{
    color: #fff;
}
.fa-times {
    color: var(--white);
}
@media only screen and (max-width: 1024px) {
    .nav-menu {
        
        width: 300%;
    }

    .nav-links{
        font-size: 1rem;
        padding: 0.6rem 0;
    }
    
    .nav-links:hover{
        background: none;
    }
} */